/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'DigitalFrontiersman';
  src: url("../fonts/DigitalFrontiersman.eot");
  src: url("../fonts/DigitalFrontiersman.eot?#iefix") format("embedded-opentype"), url("../fonts/DigitalFrontiersman.woff") format("woff"), url("../fonts/DigitalFrontiersman.ttf") format("truetype"), url("../fonts/DigitalFrontiersman.svg#DigitalFrontiersman") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'DigitalFrontiersman';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-instagram, .icon-DigitalFrontiersman, .icon-Mail {
  font-family: 'DigitalFrontiersman';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\54"; }

.icon-instagram:before {
  content: "\67"; }

.icon-DigitalFrontiersman:before {
  content: "\4c"; }

.icon-Mail:before {
  content: "\24"; }

body {
  font-family: "Proxima Nova" verdana, sans-serif;
  line-height: 1.75em;
  font-size: 1em; }

h1 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2em;
  line-height: 1.75em; }
  @media screen and (min-width: 50em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 1em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .1em;
  padding: .5em 1em; }
  @media screen and (min-width: 62.5em) {
    h2 {
      font-size: 1.25em;
      padding: .1em 0 .25em 0; } }

h3 {
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em; }

h4 {
  font-weight: 600;
  text-align: center; }

h5 {
  font-weight: 400; }

h6 {
  font-weight: 300; }

p {
  font-size: 1em; }
  @media screen and (min-width: 50em) {
    p {
      font-size: 1.15em; } }

p.intro {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.25em; } }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-family: "chaparral-pro", serif;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 50em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  font-family: "chaparral-pro", serif;
  content: "\201c";
  font-size: 5em;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 50em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%; }

.nontouchnav {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: .25em 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden; }
  @media screen and (min-width: 62.5em) {
    .nontouchnav {
      display: block; } }
  .nontouchnav div {
    position: absolute;
    color: #656565;
    width: 3em;
    cursor: pointer;
    text-align: center;
    top: 0;
    bottom: 0;
    padding-top: 27%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s; }
    .nontouchnav div:hover {
      background-color: rgba(255, 255, 255, 0.75);
      opacity: 0.75;
      color: black;
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s; }
  .nontouchnav .prev {
    left: 0; }
  .nontouchnav .next {
    right: 0; }

/* responsive-nav.js v1.0.15 by @viljamis */
.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#info-1.opened {
  max-height: 9999px;
  padding: 0 0 6em 0; }

.expand {
  font-weight: bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer; }

a.closed {
  transition: 2s; }

a.opened {
  display: block;
  font-size: 1.1em;
  /* Safari */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform: rotateZ(-45deg);
  /* Firefox */
  -moz-transform: rotateZ(-45deg);
  /* IE */
  -ms-transform: rotateZ(-45deg);
  /* Opera */
  -o-transform: rotateZ(-45deg); }

body {
  background-color: white; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

a {
  color: black; }
  a:hover {
    color: #252525; }
  a:active {
    color: black; }
  a:visited {
    color: #656565; }

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 6.25em; }

header {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white; }
  @media screen and (min-width: 56.25em) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5000; } }

#primary {
  font-weight: bold;
  font-size: .75em; }
  @media screen and (min-width: 56.25em) {
    #primary {
      font-size: 1em; } }
  #primary li {
    float: left;
    padding: 1em;
    text-align: center; }

#email {
  float: left; }

#links {
  float: right; }

.content {
  padding: 0;
  margin: 0; }

#about {
  padding: 5em 1.5em;
  background-color: #eeeeee;
  position: relative; }

.logo {
  font-size: 11em;
  text-align: center;
  padding: 0;
  background: url(../images/header/header.jpg);
  background-size: cover;
  background-position: center;
  width: 1.75em;
  height: 1.75em;
  border-radius: 12em;
  margin: 0 auto 0.25em auto; }
  @media screen and (min-width: 56.25em) {
    .logo {
      font-size: 15em; } }
  .logo span {
    display: block;
    padding-top: .35em; }

@media screen and (min-width: 56.25em) {
  #introtext {
    width: 50em;
    margin: 0 auto; } }

#caption {
  position: absolute;
  right: 1em;
  bottom: 1em; }

#portfolio {
  position: relative;
  background-color: white;
  padding: 1em 0 0 0;
  z-index: 9999; }

.expand {
  display: block;
  float: right;
  font-size: 2em;
  font-weight: 200; }

.projects {
  padding: 0 0 1em 0; }
  @media screen and (min-width: 62.5em) {
    .projects {
      width: 62.5em;
      margin: 0 auto; } }

.project {
  padding: 1.5em 0 0 0;
  margin: 2em 0;
  border-top: 1px dotted #252525;
  position: relative; }
  .project h2 {
    padding-right: 10%; }

.toggle {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: .75em .25em;
  text-align: right;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none; }

.project-info {
  padding: 0 1em;
  margin: 0; }
  @media screen and (min-width: 62.5em) {
    .project-info {
      padding: 0; } }

.project-details li {
  float: left; }
.project-details .tag {
  display: block;
  padding: .25em .75em .25em .75em;
  background-color: #eeeeee;
  color: #252525;
  margin: 0 .25em .25em 0; }

small a {
  text-align: center; }

.project-images {
  position: relative; }
  .project-images img {
    width: 100%; }

#footer {
  float: left;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  background-color: #eeeeee; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
