// MODULES

// Swipe Classes

.swipe {
  overflow:hidden;
  visibility:hidden;
  position:relative;
}
.swipe-wrap {
  overflow:hidden;
  position:relative;
}
.swipe-wrap > div {
  position:relative;
  float:left;
  width:100%;
}

.nontouchnav{
	position:absolute;
	bottom:0;
	top:0;
	width:100%;
	z-index:1000;
	text-align:center;
	font-size:1.5em;
	
	

	.prev{
		position: absolute;
		top: 0;
		bottom: 0;
		left: -2em;
		//width: 2em;
		//height: 55%;
		background-color: #eee;
		margin:25% .5em 0 .5em;
		padding:.1em 0 0 0;
		height:1.1em;
		width:1.25em;
		@include one-em-border-radius;
		cursor:pointer;
	}
	
	.next{
		position: absolute;
		top: 0;
		bottom: 0;
		right: -2em;
		//width: 2em;
		//height: 55%;
		background-color: #eee;
		margin:25% .5em 0 .5em;
		padding:.1em 0 0 0;
		height:1.1em;
		width:1.25em;
		@include one-em-border-radius;
		cursor:pointer;
	}

}


// Responsive Nav Styles

/*! responsive-nav.js v1.0.15 by @viljamis */

//#nav ul {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  display: block;
//  list-style: none;
//}
//
//#nav li {
//  width: 100%;
//  display: block;
//}

.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#info-1.opened {
  max-height: 9999px;
  padding:0 0 6em 0;
}

.expand {
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a.closed {
	transition:2s;
  
}

a.opened {
	display:block;
	font-size:1.1em;
	
	/* Safari */
	-webkit-transform: rotateY(-180deg);
	-webkit-transform: rotateZ(-45deg);

	/* Firefox */
	-moz-transform: rotateZ(-45deg);

	/* IE */
	-ms-transform: rotateZ(-45deg);

	/* Opera */
	-o-transform: rotateZ(-45deg);

}
