// MODULES

.red{
	color:$red;
}

// Swipe Classes

.swipe {
  overflow:hidden;
  visibility:hidden;
  position:relative;
}
.swipe-wrap {
  overflow:hidden;
  position:relative;
}
.swipe-wrap > div {
  position:relative;
  float:left;
  width:100%;
}

.nontouchnav{
	position: relative;
	padding: .25em 0;
	width: 100%;
	height:3em;
	z-index: 1000;
	text-align: center;
	font-size: 1.5em;
	overflow: hidden;
	
	@media screen and (min-width:(em(1000))){
		display:block;
	}
	
	div{
		position:absolute;
		top:0;
		padding:.5em 0;
		//padding-top:27%;
		width: 50%;
		font-size:1.25em;
		cursor:pointer;
		text-align:center;	
		opacity:0.25;
		background-color: $white;
		color:$dark-grey;
		border-bottom:1px dotted $medium-grey;

		@include quarter-second-transition;
		
		&:hover{
			opacity:1!important;
			color:$black;
			@include quarter-second-transition;
		}
	}
	

	.prev{		
		left:0;
	}
	
	.next{
		right:0;
		//border-left:1px dotted $medium-grey;
	}

}


// Responsive Nav Styles

/*! responsive-nav.js v1.0.15 by @viljamis */

//#nav ul {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  display: block;
//  list-style: none;
//}
//
//#nav li {
//  width: 100%;
//  display: block;
//}

.js #info-1 {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#info-1.opened {
  max-height: 9999px;
  padding:0 0 6em 0;
}

.expand {
	font-weight:bold;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a.closed {
	transition:2s;
  
}

a.opened {
	display:block;
	font-size:1.1em;
	
	/* Safari */
	-webkit-transform: rotateY(-180deg);
	-webkit-transform: rotateZ(-45deg);

	/* Firefox */
	-moz-transform: rotateZ(-45deg);

	/* IE */
	-ms-transform: rotateZ(-45deg);

	/* Opera */
	-o-transform: rotateZ(-45deg);

}
